@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root{
    --yellow: #FDDE56;
    --pink: #ffadc4;
    --text-color: #393E46;
    --white-text: #ffffff;
}

html{
    font-family: 'Poppins', sans-serif;
     overflow-x: hidden;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection{
    background:var(--pink);
    color:#fff;
}

html{
   
    overflow-x: hidden;
}
.section2{
    width: 100vw;
    height: 100vh;
   
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.main_home{
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
   display: grid;
   place-items: center;
}
.end_mobile{
    width: 70%;
    align-items: center;
    
}
 
.end_heading{
    font-size: 3.5rem;
    margin-top: 50px;
    text-shadow: -1px 5px 5px rgba(147, 150, 150, 0.33);
}
.end_section{
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
   display: grid;
   place-items: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.mobile_scrn_img{
    width: 50%;
     
     
}
.mobile_scrn_img1{
    width: 90%;
     position: relative;
   
     margin-left: 50px;
   
     
}
.mobile_scrn{
    width: 30vw;
}
.mobile_scrn1{
    width: 30vw;
    position: relative;
}
.section1{
   
    width: 100vw;
    height: 100vh;
   
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ai_img{
    width: 100%;
}
.text_div{
    padding: 70px;
    width: 70vw;
}
.text_div1{
    padding: 70px;
    width: 70vw;
}
.text_div_h1{
     font-size: 2.5rem;
}
.ai_tagline{
    font-size: 2.5rem;
}
 
.ai_section{
    font-size: 1rem;
    padding: 50px;
     text-align: center;
    width: 100vw;
    height: auto;
}
.home_content{
   width: 60vw;
   height: auto;
    text-align: center;
     position: relative;
     margin-top: 100px;
}
.felomee_name{
    color: var(--white-text);
}
.home_desc_highlight{
    font-weight: 800;
    font-size: 1.5rem;
}
.download_div2{
     display: flex;
    
}
.download_div2 div{
  margin: 30px 40px 0 0;
}
.download_div{
    width: 60vw;
    height: auto;
     position: relative;
    display: flex;
     margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}
.download_div div{
    padding: 20px;
}
.home_heading{
    font-size: 4rem;
     
}
 


.home_desc{
    font-size: 20px;
}
 

/* footer css start  */

.footer{
    padding-top: 1rem;
  background-color: rgb(0, 0, 0);
}
 

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:1rem;
}

.footer .box-container .box h3{
    font-size: 1.5rem;
    padding:1rem 0;
    color:#fff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p{
    font-size: 1rem;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1rem;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background:#fff;
    color:var(--pink);
    font-size: 1rem;
    height:3.5rem;
    width:3.5rem;
    line-height: 3.5rem;
    text-align: center;
}

.footer .credit{
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
    border-top: .1rem solid #fff5;
    padding:2.5rem 1rem;
    text-align: center;
}


/* mobile responsive css */

@media only screen and (max-width: 768px){
 

}






 